<form id="form-users" method="POST">
    <div class="card">
        <div class="card-content">
            
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Fullname</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                        <input class="input" name="fullname" type="text" placeholder="Full name" required>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Username</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                        <input class="input" name="username" type="text" placeholder="Your username" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" name="password" type="password" placeholder="Your password" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Address</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <textarea name="address" class="textarea" placeholder="Address" required></textarea>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Phone</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" name="phone" type="text" placeholder="+62 .." required>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <footer class="card-content card-footer" >
            <input class="button is-primary" type="submit" value="Save">
        </footer>
    </div>
</form>

<script>

    $(document).on('submit', '#form-users', function() {
        $.ajax({
            url: 'http://localhost:8080/users',
            type: "POST",
            data: $('#form-users').serialize(),
            success: function(results) {
                resetForm()
                console.log(results)
                ipcRenderer.send('message', {'message' : results.message} )
            },
            error: function (request, status, error) {
                ipcRenderer.send('message', {
                    'message' : request.responseJSON.message
                })
            }
        });

        return false;
    })

    function resetForm()
    {
        $('input[name=fullname]').val('')
        $('input[name=username]').val('')
        $('input[name=password]').val('')
        $('textarea[name=address]').val('')
        $('input[name=phone]').val('')

    }
</script>